body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

#chat-container {
    width: 50%;
    max-width: 800px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

#chat-container h1 {
    background-color: #2c2c2c;
    margin: 0;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #444;
}

#chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #444;
    height: calc(100% - 76vh); /* Adjust height to fit within the container */
}


/* Custom scrollbar styles */
#chat-box::-webkit-scrollbar {
    width: 10px;
}

#chat-box::-webkit-scrollbar-track {
    background: #2c2c2c; 
}

#chat-box::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 10px;
}

#chat-box::-webkit-scrollbar-thumb:hover {
    background: #007bff; 
}


#messages {
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    word-wrap: break-word;
}

.user-message {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
}

.bot-message {
    align-self: flex-start;
    background-color: #444;
    color: white;
}

#input-container {
    display: flex;
    padding: 10px;
    background-color: #2c2c2c;
    border-top: 1px solid #444;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: #444;
    color: white;
    margin-right: 10px;
}

#send-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}

#microphone-button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

#microphone-button:hover {
    background-color: #0056b3;
}
